In [4]:
import pandas as pd

Load Tables

In [5]:
nba_data = pd.read_csv('NBA_Goat_Tracker_Data.csv')

In [6]:
nba_data

,Unnamed: 0,Player Name,PPG,TRB,AST,RSMVP,All NBA Team Selections,Championships,FMVP,All Defensive Teams,PER
0,0,Kareem Abdul-Jabbar,24.6,11.2,3.6,6,15,6,2,11,24.6
1,1,Ray Allen,18.9,4.1,3.4,0,2,2,0,0,18.6
2,2,Giannis Antetokounmpo,23.5,9.8,4.9,2,8,1,1,5,25.5
3,3,Carmelo Anthony,22.5,6.2,2.7,0,6,0,0,0,19.5
4,4,Paul Arizin,22.8,8.6,2.3,0,4,1,0,0,19.8
...,...,...,...,...,...,...,...,...,...,...,...
84,84,Kyrie Irving,23.6,4.0,5.7,0,3,1,0,0,22.4
85,85,Tracy McGrady,19.6,5.6,4.4,0,7,0,0,0,22.1
86,86,Robert Horry,7.0,4.8,2.1,0,0,7,0,0,13.4
87,87,Chauncy Billups,15.2,2.9,5.4,0,3,1,1,2,18.8
88,88,Joe Dumars,16.1,2.2,4.5,0,3,2,1,5,15.3